.catcontainer {
  cursor: pointer;
  -webkit-user-select: none; /* Safari */        
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */
}

.heart {
	position: absolute;
	top: 30px;
	left: 95px;
  transform: scale(0.6);
  opacity: 0;
	transition: linear 0.2s;
}

@keyframes bounce {
  0% {
    top: -75px;
  }

  100% {
    top: -80px;
  }
}

.catcontainer:hover:active > .heart {
  top: -75px;
  opacity: 1;
  animation: bounce 0.5s alternate infinite ease-in-out;
  animation-delay: 0.2s;
}

.heart:before, .heart:after {
	position: absolute;
	content: "";
	left: 50px;
	top: 0;
	width: 50px;
	height: 80px;
	background: red;
	border-radius: 50px 50px 0 0;
	transform: rotate(-45deg);
	transform-origin: 0 100%;
}

.heart:after {
	left: 0;
	transform: rotate(45deg);
	transform-origin: 100% 100%;
}